* {
    padding: 0;
    margin: 0;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-weight: 100;
    color: #fff;

}

body {
    background: #222;
    height: 100vh;
}

.container {
    height: 70vh;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.sidebar {
    background-color: #222;
    display: flex;
    flex-direction: column;
    border-right: #444 solid 0.1rem;
}

.logs {
    height: calc(30vh - 2rem);
    background: #000;
    padding: 1rem;
    overflow: scroll;
    scroll-behavior: smooth;
}

.files {
    background: #111;
    display: flex;
    flex-direction: column;
    width: 0;
    overflow: scroll;
    flex-shrink: 0;
}

.entry {
    display: inline-flex;
    gap: 0.5rem;
    padding: 1rem;
}

.text {
    font-size: 1rem;
}

.delete {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTkuMDM2IDcuOTc2YS43NS43NSAwIDAgMC0xLjA2IDEuMDZMMTAuOTM5IDEybC0yLjk2MyAyLjk2M2EuNzUuNzUgMCAxIDAgMS4wNiAxLjA2TDEyIDEzLjA2bDIuOTYzIDIuOTY0YS43NS43NSAwIDAgMCAxLjA2MS0xLjA2TDEzLjA2MSAxMmwyLjk2My0yLjk2NGEuNzUuNzUgMCAxIDAtMS4wNi0xLjA2TDEyIDEwLjkzOSA5LjAzNiA3Ljk3NloiIGZpbGw9IiNmZmYiPjwvcGF0aD48cGF0aCBkPSJNMTIgMWM2LjA3NSAwIDExIDQuOTI1IDExIDExcy00LjkyNSAxMS0xMSAxMVMxIDE4LjA3NSAxIDEyIDUuOTI1IDEgMTIgMVpNMi41IDEyYTkuNSA5LjUgMCAwIDAgOS41IDkuNSA5LjUgOS41IDAgMCAwIDkuNS05LjVBOS41IDkuNSAwIDAgMCAxMiAyLjUgOS41IDkuNSAwIDAgMCAyLjUgMTJaIiBmaWxsPSIjZmZmIj48L3BhdGg+PC9zdmc+Cg==');
    background-repeat: no-repeat;
}

button {
    width: 2rem;
    height: 2rem;
    border: 0.5rem solid transparent;
    background: #222;
}

button:hover {
    background: #555;
}

 .editorarea {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.editorarea > .title-bar {
    color: #888;
    background: #222;
    outline: none;
    border-bottom: #444 solid 0.1rem;
    display: flex;
    flex-direction: row;
}

.editorarea > .title-bar > .title {
    outline: none;
    border: none;
    background: #222;
    flex-grow: 1;
    padding: 0.5rem 1rem;
}

#title_btn {
    border: none;
    display: none;
    padding: 0 0.4rem 0 0.4rem;
}

.editor {
    background: #222;
    border: none;
    resize: none;
    height: calc(70vh - 3rem);
    padding: 0.5rem;
}

.hide {
    width: 0;
    transition: width 0.5s 0.25s;
}

.show {
    width: 25vw;
    transition: width 0.5s;
}

.show > div {
    transition: opacity 250ms 500ms, visibility 250ms 500ms;
    visibility: visible;
    opacity: 1;
}

.hide > div {
    transition: opacity 250ms, visibility 250ms;
    visibility: hidden;
    opacity: 0;
}

.editor:focus {
    outline: none;
}

@media screen and (orientation: portrait) {
    .show {
        width: calc(100vw - 3rem);
    }
}
